<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Book Abstracts</title>
</head>
<body>
    <div id="container">
        <h1 id="logo">Book Abstracts</h1>
    </div>     
    <div id="subsection">
        <div id="logo">Get super short and accurate book abstracts from <b>the prettiest and most secure website</b> IN THE WORLD.</div>
    </div>      
    <div id="listsection">
        <ol id="list">
            <li><a href="book?name=dantesinferno">Dante's Inferno</a></li>
            <li><a href="book?name=mobydick">Moby Dick</a></li>
            <li><a href="book?name=warandpeace">War and Peace</a></li>
        </ol>
    </div>
</body>
</html>
